html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.films_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  flex-basis: 20rem;
}

.film-img-container {
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border-bottom: 1px solid #ccc;
}

.release-date {
  position: absolute;
  bottom: 0.5em;
  right: 0;
  background-color: white;
  opacity: 0.8;
  color: black;
  padding: 8px;
  font-size: 0.8rem;
  border-radius: 8px 0 0 0; 
  text-align: center;
}


.card-title {
  font-size: 1.4rem;
  font: 'Roboto';
}

.card-text {
  color: #555;
}

.card-btn {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 8px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #9900ff;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.card-btn:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .card-container {
    justify-content: center; 
  }
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}